body {
  margin: 0;
}

.create {
	width: 80%;
	/*background-color: #D4DDE0;*/
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: auto;
    margin-left: auto;
    margin-bottom: 150px;
}

.wrapper {
	width: 80%;
	margin-right: auto;
    margin-left: auto;
}

.create .description {
	width: 99.5%;
    height: 25px;
    margin-bottom: 20px;
}


.files .gist-file {
	background-color: white;
	border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 179, 179);
	border-radius: 2px;
	padding-bottom: 4px;
    
	margin-bottom: 20px;
}

.file-info {
	padding: 6px;
}


div[id^="editor"] {
	width: 99%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}

#create-public-gist {
	float: right;
	margin-right: 4px;
}

#create-secret-gist {
	float: right;
	margin-right: 0px;
}

#update-gist {
    float: right;
    margin-right: 0px;
}

.create .remove-file {
    background: #db4141;
    color: #ffffff;
    font-size: 12px;
    padding: 2px 10px;
    border: 1px solid transparent;
    cursor: pointer;
	margin-left: 4px;
    height: 20px;
}

.create .remove-file:hover {
  background: #b30d0d;
  text-decoration: none;
}
