@import url("./basicrules.less");


/*///////////////////////////////////////////////////////////////////////
/////////////////////////Ylätunniste/////////////////////////////////////
///////////////////////////////////////////////////////////////////////*/
.header {
	background-color: #07afe6;
	height: 50px;
	margin-right: 0px;
	margin-left: 0px;
}

.logo {
	float: left;
}


/*///////////////////////////////////////////////////////////////////////
/////////////////////////Käyttäjätiedot//////////////////////////////////
///////////////////////////////////////////////////////////////////////*/
.user-info {
	float: right;
	margin-top: 12px;
    margin-right: 2%;
}

.user-info p {
	margin-left: 5px;
	color: white;
	font-weight: bold;
	margin-right: 8px;
}

.user-info-details {
	display: inline;
}

.user-info-details a {
    color: white !important;
	font-weight: bold;
    border-left: 1px solid white;
    padding-left: 8px;
}

.user-avatar {
	width: 26px;
	height: 26px;
	margin-left: 10px;
}

.logout {
	display: inline;
	border-left: 1px solid black;
	margin-left: 5px;
	padding-left: 5px;
}


/*///////////////////////////////////////////////////////////////////////
/////////////////////////Hakupalkki//////////////////////////////////////
///////////////////////////////////////////////////////////////////////*/
.search {
	margin-top: 9px;
	margin-left: 20px;
	width: 20%;
	float: left;
}

.search-input {
    height: 30px;
	width: calc(~'100% - 40px');
	background: white;
    border-radius: 4px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
	border-color: #b9b9b9 !important;
	color: black;
}

.search-input:focus {
	//background-color: white;
}

.do-search {
	border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: white;
    border-left: none !important;
    border-color: #b9b9b9 !important;
    color: black;
    margin-right: 0px;
    /* border-radius: 4px; */
}

.do-search:hover {
	background: white;
}


.do-search:focus {
	background: #87cce2;
}



/*///////////////////////////////////////////////////////////////////////
/////////////////////////Navigaatio//////////////////////////////////////
///////////////////////////////////////////////////////////////////////*/
.nav-menu {
    margin-top: 14px;
	margin-left: 15px;
	width: 20%;
	float: left;
}

.nav-menu ul {
    float: left;
	-webkit-padding-start: 0px;
	margin-top: 0px;
    margin-right: 10px;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 2px;
	color: white;
    font-weight: bold;
}

.nav-menu ul li a:hover {
    background-color: white;
	color: #07afe6;
}
