body {
	margin: 0px;
}

p {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

span {
	/*font-family: 'Roboto', sans-serif;*/
	display: inline-block;
}

.contentLeft span {
	font-family: 'Roboto', sans-serif;
}

a {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/*
input[type="button"] {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
}
*/


input[type="button"] {
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}


input[type="button"]:hover {
	background: #d6d9da;
	text-decoration: none;
}
	
::-webkit-scrollbar {
 	width: 5px; 
}

::-webkit-scrollbar-track {
 	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
	
.notification {
	max-width: 500px;
	word-break: break-word;
	position: fixed;
	/*width: 300px;*/
	/*height: 100px;*/
	background: white;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(179, 179, 179);
	border-radius: 4px;
	top: 20px;
	left: 40%;
	color: black;
	cursor: pointer;
	padding: 10px;
	
	
}
	
	
.listing {
	/*width: 90%;*/
    margin-right: auto;
    margin-left: auto;
}



/*Vasen content - gistien listaus*/
.contentLeft {
	background-color: #d4dde0;
	float: left;
    height: 100%;
    padding-top: 4px;
	width: 30%;
}


/*Filtterir*/
.filters {
	/*height: 35px;*/
	/*height: 100px;*/
	float: left;
    background: whitesmoke;
    width: 100%;
}

.filteringOptions {
	float: left;
	padding: 5px;
	width: 30%;
}


.filteringOptions select {
	height: 29px;
    width: 43%;
}


.filters input[type='button'] {
	color: black;
	background: white;	
	border-radius: 2px;
	margin-left: 4px;
	/*width: 49%;*/
	/*width: 12%;*/
}


#openFilters {
	width: 43%;
}

#refresh {
	background: url(http://localhost:9090/images/refresh.png) white no-repeat center center;
	padding-top: 3px;
    padding-bottom: 9px;
	width: 10%;
}


.listing .filters .langFilter  {
	background: url(http://localhost:9090/images/remove.png) no-repeat center left 97%;
    margin-left: 10px;
    padding-right: 15px;
    margin-top: 10px;
}


.filteringView {
	/*width: 200px;*/
	/*position: fixed;*/
	/*top: 50px;
	left: 40%;*/
	z-index: 2;
}


.suggestions {
	background: #D4DDE0; 
	overflow-y: auto;
	width: 200px; 
	max-height: 400px; 
	position: fixed; 
	z-index: 2;
}

.suggestions ul {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.suggestions li {
    background: white;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 1px;
}

.suggestions li:hover {
    background: #d6d9da;
}



.contentLeft select {
	width: 44%;
	height: 30px;
}


/*Gist lista*/
.listGists {
	height: 100%;
	overflow-y: scroll;
	background-color: #d4dde0;
}


.listGists ul {
	list-style-type: none;
	padding:0;
	margin:0;
}



.singleGist {
	/*height: 100px;*/
	cursor: pointer;
	/*border-style: solid;*/
	word-break: break-all;
	background-color: white;
	margin-bottom: 2px;
}



.contentWrapper {
	position: relative;
	padding: 10px;
	min-height: 110px;
    
}


.listing .listGists .description {
	font-family: 'Roboto', sans-serif;
	display: block;
	min-height: 40px;
	font-size: 14px;
}


.active {
	background-color: wheat;
}


.singleGist a {
	font-size: 16px;
}

.gistOwner {
	font-size: 16px;
}

.owner img {
	float: left;
    width: 35px;
}


.listing .gistInfo .description {
	margin-top: 5px;
	font-size: 14px;
}

#loadMore {
    font-size: 16px;
    color: black;
    background-color: lightblue;
    width: 96%;
    margin-left: 2%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


.pagination {
	margin-top: 20px;
    margin-bottom: 20px;
}



/*Oikea content - yksittainen gist*/
.contentRight {
	background-color: #D4DDE0;
	width: 70%;
	height: 100%;
	float: left;
}



.contentRight a {
	font-size: 14px
}

.showActiveGist {
	height: 100%;
	overflow-y: auto;
}

/*
.showActiveGist:hover {
	overflow-y: scroll;
}
*/

.gistInfo {
	width: 98%;
	/*height: 100px;*/
    margin-left: auto;
    margin-right: auto;
	padding-top: 5px;
	padding-bottom: 10px;
}

.anchor {
	height: 100px;
}

.fixed {
	position: fixed;
	top: 50px; 
	z-index: 10;
	background: #D4DDE0;
	width: 69%;
	height: 25px;
}

.fixed .title img {
	 width: 30px;
	 margin-left: 10px;
}


.title img {
    float: left;
    width: 35px;
}



.nameOwnerButtons img{
	height: 40px;
	background: wheat;
}

.desc {
	/*background: wheat;*/
	padding: 5px;
	width: 99%;
}

.desc a {
	font-size: 16px;
}









#viewGist {
	font-size: 16px;
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}

.fileInfo {
	padding: 4px;
}

.copy {
	height: 18px;
    float: right;
    cursor: pointer;
}


.actions {
	float: right;
}



.gistFirstFile {
	width: 98%;
    margin-left: auto;
    margin-right: auto;
	/*border-style: solid;
	border-width: 1px;
	background-color: #e6e6e6;*/
	border-radius: 4px;
	background-color: white;
	padding-bottom: 4px;
	margin-bottom: 20px;
}


.showActiveGist .gistFile {
	width: 98%;
    margin-left: auto;
    margin-right: auto;
	/*border-style: solid;
	border-width: 1px;
	background-color: #e6e6e6;*/
	border-style: solid;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
	border-radius: 4px;
	background-color: white;
	padding-bottom: 4px;
	margin-bottom: 10px;
}


.showActiveGist div[id^="editor"] {
	width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    /*border-style: solid;
    border-width: 1px;*/
}

.loading {
	/*background: url(http://localhost:9090/Opinnaytetyo_spring_react/images/loading.gif) no-repeat center center;*/
	background: url(http://localhost:9090/images/loading.gif) no-repeat center center;
	height: 90%;
}



.language {
    padding: 2px;
    border-radius: 2px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: inline;
    background: orange;
    font-size: 14px;
    margin-top: 20px;
}

.created {
	position: absolute;
    bottom: 10px;
	display: inline;
	font-size: 14px;
	margin-top: 20px;
}

/*
#editGist {
	margin-right: 6px;
    background: #21e054;
}

#editGist:hover {
 	background: #0dbf3d;
}
	

#deleteGist {
    background: #db4141;
}

#deleteGist:hover {
 	background: #b30d0d;
}
	
	
#forkGist {
	color: black;
}

#forkGist:hover {
	background: #A9A4A4;
}
*/

#editGist {
	margin-right: 4px;
    /*background: #d6d9da;*/
    background: white;
    color: black;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}

#editGist:hover {
 	background: #d6d9da;
}
	

#deleteGist {
    /*background: #d6d9da;*/
    background: white;
    color: black;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}

#deleteGist:hover {
 	background: #d6d9da;
}
	
	
#forkGist {
	color: black;
}

#forkGist:hover {
	background: #d6d9da;
}

#starGist {
	margin-right: 4px;
    /*background: #d6d9da;*/
    background: white;
    color: black;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}

#starGist:hover {
	background: #d6d9da;
}


#forkGist {
	margin-right: 4px;
    /*background: #d6d9da;*/
    background: white;
    color: black;
    border-style: solid;
    border-color: rgb(179, 179, 179);
}

#forkGist:hover {
	background: #d6d9da;
}




