body {
	margin: 0px;
}

p {
	display: inline-block;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}




.single .show-active-gist {
	/*width: 70%;*/
	background-color: white;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: initial;
}

.wrapper-single {
	background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 5px;
}

.single .gist-info {
	width: 60%;
	margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

.single .gist-files {
	margin-top: 10px;
	width: 61%;
	margin-left: auto;
	margin-right: auto;
}
